@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
	color: #464646;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

figure, p {
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-logo {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.26px;
	color: #000000;
}

.main-logo-link:hover {
	opacity: 0.6;
}

.main-logo-link:active {
	opacity: 0.3;
}

.main-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.17px;
	color: #000000;
}

.header-search-item {
	background-color: transparent;
	border: 0;
	opacity: 0.3;
}

.header-search-item:hover {
	opacity: 0.6;
}

.header-search-item:focus {
	opacity: 1;
}

.header-search-send {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color: #000000;
	letter-spacing: 0.15px;
	background-color: transparent;
	border: 2px solid #000000;
}

.header-search-send:hover {
	color: #ffffff;
	background-color: #000000;
}

.header-search-send:active {
	color: rgba(0,0,0,0.3);
}

.user-navigation,
.site-navigation,
.catalog-navigation,
.catalog-item-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000000;
}

.site-navigation,
.catalog-navigation {
	width: 100%;
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.user-navigation,
.catalog-item-navigation {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.15px;
	text-transform: none;
}

.user-navigation a,
.site-navigation a,
.catalog-navigation a {
	color: #000000;
}

.user-navigation a:hover,
.site-navigation a:hover,
.catalog-navigation a:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active,
.catalog-navigation a:active {
	opacity: 0.3;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
	background: linear-gradient(rgba(240,197,46,0.5) 0px, rgba(240,197,46,0.5) 130px, transparent 130px);
}

.slider-item-title {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 56px;
	letter-spacing: 0.17px;
	color: #000000;
}

.slider-item-description {
	letter-spacing: 0.15px;
}

.button {
	position: relative;
	display: inline-block;
	width: 220px;
	padding: 8px 0 8px 0;
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 2.15px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	border: none;
	background-color: transparent;
}

.button:before {
	position: absolute;
	display: block;
	top: 16px;
	width: 100%;
	height: 8px;
	content: "";
	background-color: #f0c52e;
	z-index: -1;
}

.button:hover {
	background-color: #f0c52e;
}

.button:active {
	color: rgba(0,0,0,0.3);
}

.slider-item-parameters td {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	letter-spacing: 0.36px;
	color: #000000;	
}

.slider-item-parameters th {
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.13px;
}

.category-item {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

.category-image-wrapper {
	width: 160px;
	height: 160px;
	margin-bottom: 37px;
	background-color: rgba(240,197,46,0.5);
}

.category-item figcaption {
	width: 160px;
}

.category-item a {
	font: inherit;
	color: #000;
}

.category-item:hover .category-image-wrapper {
	background-color: rgba(240,197,46,1);
}

.category-item:active {
	opacity: 0.3;
}

.services {
	height: 390px;
}

.services, .brands, .info-wrapper {
	margin-bottom: 95px;
}

.service-controls {
	width: 345px;
	padding-top: 80px;
	border-right: 7px solid #000000;
}

.service-control {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 2.15px;
	color: #000000;
	text-transform: uppercase;
}

.service-control-active, .service-control:active {
	width: 100%;
	padding: 14px 0 14px 20px;
	color: #f7e184;
	background-color: #000000;
}

.service-item {
	width: 875px;
	padding-top: 80px;
}

.service-item-wrapper {
	width: 425px;
}

.service-title {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.21px;
	color: #000000;
}

.brand-list {
	list-style: none;
}

.brand-item-inactive {
	display: none;
	opacity: 0;
}

.aboutus h2, .contacts h2 {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.21px;
	color: #000000;
}

.aboutus p, .contacts p {
	padding-bottom: 40px;
}

.transport-list {
	padding-bottom: 40px;
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	color: #000000;
}

.contact-map img {
	padding-bottom: 40px;
}

.breadcrumbs-list {
	list-style: none;
}

.breadcrumbs-list li a {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.14px;
	color: rgba(0,0,0,0.3);
}

.breadcrumbs-list li:not(:last-child) a:hover {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.14px;
	color: rgba(0,0,0,0.6);
}

.breadcrumbs-list li:not(:last-child) a:active {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.14px;
	color: rgba(0,0,0,0.1);
}

.filter-title, .sorting-title {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.91px;
	text-transform: uppercase;
	color: #000000;
}

.filter-item-title {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

.filter-item-label {
 	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.14px;
	color: #000000;
 }

input[type=checkbox][disabled] {
	color: #a6a6a6;
}

.sorting-item {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
}

.sorting-item:hover {
	color: rgba(0,0,0,0.6);
}

.sorting-item-active,
.sorting-item:active {
	color: #000000;
}

.product-compare {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 36px;
	color: rgba(0,0,0,0.5);
	background-color: transparent;
	border: none;
}

.product-compare:hover {
	color: rgba(0,0,0,1);
}

.product-compare:active {
	color: rgba(0,0,0,0.2);
}

.product-title {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

.product-price {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.products-navigation {
	background-color: #ebebeb;
}

.products-navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.products-navigation-list a {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.91px;
	text-transform: uppercase;
	color: #000000;
}

.page-item a {
	color: rgba(0,0,0,0.3);
}

.page-item a:hover {
	color: rgba(0,0,0,0.6);
}

.page-item a:active {
	color: rgba(0,0,0,1);
}

.page-item-active a {
	color: rgba(0,0,0,1);
}

.page-prev:hover,
.page-next:hover {
	background-color: #d8d8d8;
}

.page-prev:active a,
.page-next:active a {
	color: rgba(0,0,0,0.3);
}

.main-footer {
	padding-top: 50px;
	background-color: #464646;
	color: #ffffff;
}

.main-footer-line {
	padding-bottom: 40px;
}

.footer-logo {
	color: #ffc600;
	letter-spacing: 0.48px;
}

.user-navigation-footer a,
.site-navigation-footer a {
	color: #ffffff;
}

.user-navigation-footer a {
	opacity: 0.7;
}

.user-navigation-footer a:hover {
	opacity: 1;
}

.user-navigation-footer a:active {
	opacity: 0.3;
}

.footer-phone a {
	color: #ffffff;
}

.footer-social {
	list-style: none;
}

.footer-decorate {
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.footer-social a {
	color: #ffffff;
}

.footer-developer:hover {
	opacity: 0.6;
}

.footer-developer:active {
	opacity: 0.3;
}

.writeus-name-label,
.writeus-email-label,
.writeus-desc-label {
	font-family: "Gilroy", "Aria", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
}

.writeus-name,
.writeus-email,
.writeus-desc {
	background-color: #f1f1f1;
	border: none;
}

.writeus-name::placeholder,
.writeus-email::placeholder,
.writeus-name,
.writeus-email,
.writeus-desc {
	font-family: "Open Sans", "Aria", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(70,70,70,0.4);
}

/* Разметка сетки */

.border-box-component {
	box-sizing: border-box;
}

.wrapper {
	width: 1160px;
	margin: 0 auto;
}

.main-wrapper {
	margin-top: 20px;
	padding: 0 60px;
	background: linear-gradient(transparent 0px, transparent 20px, rgba(240,197,46,0.5) 20px);
}

.header-layout {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
  padding-top: 10px;
}

.user-navigation,
.site-navigation,
.catalog-navigation {
	width: 500px;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
}

.user-navigation li:first-child {
	margin-right: auto;
}

.site-navigation {
	display: flex;
	justify-content: flex-start;
}

.site-navigation li:last-child {
	margin-left: auto;
}

.user-navigation li:not(:first-child),
.site-navigation li:not(:last-child) {
	margin-right: 40px;
}

.user-navigation li:last-child {
	margin-right: 0;
}

.slider-item {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	margin-bottom: 110px;
}

.slider-item-right {
	width: 480px;
	height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.category-items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.service-wrapper {
	display: flex;
}

.service-controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.service-controls label {
	margin-bottom: 25px;
}

.service-item {
	display: flex;
	justify-content: space-around;
}

.brand-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.info-wrapper {
	display: flex;
	justify-content: space-between;
}

.main-footer-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-navigation-footer {
	width: 500px;
}

.user-navigation-footer li:nth-child(n+1) {
	margin: auto;
}

.site-navigation-footer li:nth-child(n+1) {
	margin: auto;
}

.footer-social {
	display: flex;
	justify-content: space-between;
}

.breadcrumbs-list li {
	display: inline-block;
}

.catalog-wrapper {
	display: flex;
}

.catalog-wrapper .filters {
	width: 325px;
}

.category-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.products-navigation-list {
	display: flex;
	justify-content: center;
}

.products-navigation-list li:first-child {
	margin-right: auto;
}

.products-navigation-list li:last-child {
	margin-left: auto;
}

.hide {
	display: none;
}