@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
	color: #464646;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-logo {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.26px;
	color: #000000;
}

.main-logo-link:hover {
	opacity: 0.6;
}

.main-logo-link:active {
	opacity: 0.3;
}

.main-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.17px;
	color: #000000;
}

.header-search-item {
	background-color: transparent;
	border: 0;
	opacity: 0.3;
}

.header-search-item:hover {
	opacity: 0.6;
}

.header-search-icon {
	width: 16px;
	height: 16px;
	background-image: url("../img/icon-search.svg");
	background-color: transparent;
	background-position: 0 0;
	border: none;
}

.header-search-send {
	display: none;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color: #000000;
	letter-spacing: 0.15px;
	background-color: transparent;
	border: 2px solid #000000;
}

.header-search-item:focus {
	opacity: 1;
	border-bottom: 2px solid #000000;
}

.header-search-item:focus + .header-search-send {
	display: inline-block;
	vertical-align: top;
}

.header-search-send:hover {
	color: #ffffff;
	background-color: #000000;
}

.header-search-send:active {
	color: rgba(0,0,0,0.3);
}

.user-navigation,
.site-navigation,
.catalog-navigation,
.catalog-item-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000000;
}

.site-navigation,
.catalog-navigation {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.user-navigation,
.catalog-item-navigation {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.15px;
	text-transform: none;
}

.user-navigation a,
.site-navigation a,
.catalog-navigation a {
	color: #000000;
}

.user-navigation a:hover,
.site-navigation a:hover,
.catalog-navigation a:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active,
.catalog-navigation a:active {
	opacity: 0.3;
}

.login-link,
.compare-link,
.cart-link {
	position: relative;
	padding-left: 25px;
}

.login-link::before,
.compare-link:before,
.cart-link:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.login-link::before {
	background-image: url("../img/icon-user.svg");
}

.compare-link:before {
	background-image: url("../img/icon-compare.svg");
}

.cart-link:before {
	background-image: url("../img/icon-cart.svg");
}

.catalog-list {
	position: relative;
	padding-right: 30px;
}

.catalog-list::after {
	content: "";
	position: absolute;
	top: 3px;
	right: 3px;
	width: 16px;
	height: 16px;
	background-image: url("../img/icon-plus.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
	background-image: linear-gradient(rgba(240,197,46,0.5) 0px, rgba(240,197,46,0.5) 110px, transparent 110px);
}

.slider-item-right::before {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 179px;
	font-weight: 400;
	line-height: 179.2px;
	letter-spacing: 0.36px;
	color: #ffffff;
}

.slider-item-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 56px;
	letter-spacing: 0.17px;
	color: #000000;
}

.slider-item-description {
	letter-spacing: 0.15px;
}

.button {
	position: relative;
	display: inline-block;
	width: 220px;
	padding: 8px 0 8px 0;
	vertical-align: top;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 2.15px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	border: none;
	background-color: transparent;
	z-index: 1;
}

.button:before {
	position: absolute;
	display: block;
	top: 16px;
	width: 100%;
	height: 8px;
	content: "";
	background-color: #f0c52e;
	z-index: -1;
}

.button:hover:before {
	top: 0;
	height: 100%;
}

.button:active {
	color: rgba(0,0,0,0.3);
}

.slider-item-parameters td {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	letter-spacing: 0.36px;
	color: #000000;	
}

.slider-item-parameters th {
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.13px;
}

.category-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

.category-image-wrapper {
	background-color: rgba(240,197,46,0.5);
}

.category-item figcaption {
	width: 160px;
}

.category-item a {
	font: inherit;
	color: #000;
}

.category-item:hover .category-image-wrapper {
	background-color: rgba(240,197,46,1);
}

.category-item:active {
	opacity: 0.3;
}

.services {
	height: 390px;
	background-image: linear-gradient(transparent 0, transparent 100px, #e5e5e5 100px);
}

.service-controls {
	width: 345px;
	padding: 80px 0 50px 0;
	border-right: 7px solid #000000;
}

.service-control {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 2.15px;
	color: #000000;
	text-transform: uppercase;
}

.service-control-wrapper-active,
.service-control-wrapper:active {
	background-color: #000000;
}

.service-control-wrapper-active .service-control,
.service-control-wrapper:active .service-control {
	color: #f7e184;
}

.service-control-wrapper-active .service-control:before,
.service-control-wrapper:active .service-control:before {
	content: none;
	background-color: transparent;
}

.service-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.21px;
	color: #000000;
}

.brand-list {
	list-style: none;
}

.brand-item-inactive {
	display: none;
	opacity: 0;
}

.aboutus h2,
.contacts h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.21px;
	color: #000000;
}

.transport-list {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	color: #000000;
}

.breadcrumbs-list {
	list-style: none;
}

.breadcrumbs-list a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.14px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-title {
	background-image: linear-gradient(to right, #dbdbdb 30%, #ebebeb 30%);
}

.catalog-content {
	background-image: linear-gradient(to right, #ebebeb 30%, transparent 30%);
}

.filter {
	background-color: #dbdbdb;
}

.filters {
	background-color: #ebebeb;
}

.filter-block {
	border-top: 2px solid #000000;
}

.filter-block fieldset {
	border: none;
}

.filter-title,
.sorting-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.91px;
	text-transform: uppercase;
	color: #000000;
}

.filter-item-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

.range-line {
	position: relative;
	width: 196px;
	height: 2px;
	background-color: #dbdbdb;
}

.range-line::before,
.range-line::after {
	position: absolute;
	top: -11px;
	width: 20px;
	height: 22px;
	content: "";
	background-image: url("../img/filter-range.svg");
	background-repeat: no-repeat;
}

.range-line::before {
	left: -10px;
}

.range-line::after {
	right: -10px;
}

.filter-parameters input[type=checkbox],
.filter-parameters input[type=radio] {
	display: none;
}

.filter-parameters label {
 	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.14px;
	color: #000000;
}

.filter-parameters input[type="checkbox"]:not(:disabled) + label:hover::before,
.filter-parameters input[type="radio"]:not(:disabled) + label:hover::before {
	opacity: 0.6;
}

.filter-parameters input[type="checkbox"]:disabled + label,
.filter-parameters input[type="radio"]:disabled + label {
	opacity: 0.25;
}

.sorting-item {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
}

.sorting-item:hover {
	color: rgba(0,0,0,0.6);
}

.sorting-up,
.sorting-down {
	opacity: 0.2;
}

.sorting-up:hover,
.sorting-down:hover {
	opacity: 0.4;
}

.sorting-up:active,
.sorting-down:active {
	opacity: 1;
}

.sorting-item-active,
.sorting-item:active {
	color: #000000;
	opacity: 1;
}

.product-compare {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 36px;
	color: rgba(0,0,0,0.5);
	background-color: transparent;
	border: none;
}

.product-compare:hover {
	color: rgba(0,0,0,1);
}

.product-compare:active {
	color: rgba(0,0,0,0.2);
}

.product-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

.product-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.product-new::before {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.25px;	
}

.products-navigation {
	background-color: #ebebeb;
}

.products-navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.products-navigation-list a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.91px;
	text-transform: uppercase;
	color: #000000;
}

.page-item a {
	color: rgba(0,0,0,0.3);
}

.page-item a:hover {
	color: rgba(0,0,0,0.6);
}

.page-item a:active {
	color: rgba(0,0,0,1);
}

.page-item-active a {
	color: rgba(0,0,0,1);
}

.page-prev:hover,
.page-next:hover {
	background-color: #d8d8d8;
}

.page-prev:active a,
.page-next:active a {
	color: rgba(0,0,0,0.3);
}

.main-footer {
	background-color: #464646;
	color: #ffffff;
}

.footer-logo {
	color: #ffc600;
	letter-spacing: 0.48px;
}

.user-navigation-footer a,
.site-navigation-footer a {
	color: #ffffff;
}

.user-navigation-footer a {
	opacity: 0.7;
}

.user-navigation-footer a:hover {
	opacity: 1;
}

.user-navigation-footer a:active {
	opacity: 0.3;
}

.login-link-footer,
.compare-link-footer,
.cart-link-footer {
	position: relative;
	padding-left: 25px;
}

.login-link-footer::before,
.compare-link-footer:before,
.cart-link-footer:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.login-link-footer::before {
	background-image: url("../img/icon-user-footer.svg");
}

.compare-link-footer:before {
	background-image: url("../img/icon-compare-footer.svg");
}

.cart-link-footer:before {
	background-image: url("../img/icon-cart-footer.svg");
}

.footer-phone a {
	color: #ffffff;
}

.footer-social {
	list-style: none;
}

.footer-decorate {
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.footer-social a {
	color: #ffffff;
}



.footer-developer:hover {
	opacity: 0.6;
}

.footer-developer:active {
	opacity: 0.3;
}

.writeus-name-label,
.writeus-email-label,
.writeus-desc-label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
}

.writeus-name,
.writeus-email,
.writeus-desc {
	background-color: #f1f1f1;
	border: none;
}

.writeus-name::placeholder,
.writeus-email::placeholder,
.writeus-name,
.writeus-email,
.writeus-desc {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(70,70,70,0.4);
}

.modal-item input[type="text"],
.modal-item input[type="email"],
.modal-item textarea {
	opacity: 0.5;
}

.modal-item input[type="text"]:hover,
.modal-item input[type="email"]:hover,
.modal-item textarea:hover {
	opacity: 0.8;
}

.modal-item input[type="text"]:focus,
.modal-item input[type="email"]:focus,
.modal-item textarea:focus {
	background-color: #ffffff;
	border: 3px solid #f0c52e;
	outline: none;
}

.modal-item input[type="text"]:invalid,
.modal-item input[type="email"]:invalid,
.modal-item textarea:invalid {
	background-color: #edb5b5;
	border: none;
}

/* Разметка сетки */

.wrapper {
	width: 1160px;
	margin: 0 auto;
}

.header-wrapper {
	margin-top: 20px;
	padding: 0 60px;
	background-image: linear-gradient(transparent 0px, transparent 20px, rgba(240,197,46,0.5) 20px);
}

.main-wrapper {
	padding-top: 40px;
	padding-left: 60px;
}

.header-layout {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
  padding-top: 8px;
}

.header-layout:last-child {
	padding-bottom: 50px;
}

.header-search-item {
	padding: 0 0 7px 20px;
}

.header-search-send {
	margin-left: -5px;
}

.user-navigation,
.site-navigation,
.catalog-navigation {
	width: 500px;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
}

.user-navigation li:first-child {
	margin-right: auto;
}

.site-navigation {
	display: flex;
	justify-content: flex-start;
}

.site-navigation li:last-child {
	margin-left: auto;
}

.user-navigation li:not(:first-child),
.site-navigation li:not(:last-child) {
	margin-right: 40px;
}

.user-navigation li:last-child {
	margin-right: 0;
}

.slider {
	position: relative;
}

.slider-list {
	counter-reset: slide;
}

.slider-item {
	display: flex;
	justify-content: space-around;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.slider-item-right {
	position: relative;
  display: flex;
  flex-direction: column;
	width: 490px;
	padding-left: 16px;
}

.slider-item-right::before {
	position: absolute;
	top: -10px;
	right: -40px;
	counter-increment: slide;
	content: "0" counter(slide);
}

.slider-item-right::after {
	position: absolute;
	top: 40px;
	left: 15px;
	content: "";
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.slider-item-right .button {
	margin-bottom: 45px;
}

.slider-item-title {
	margin: 80px 0 0 0;
	z-index: 1;
}

.slider-item-description {
	width: 495px;
  margin: 20px 0 45px 0;
}

.slider-item-parameters tbody {
	display: flex;
	flex-direction: column-reverse;
}

.slider-item-parameters th,
.slider-item-parameters td {
	display: inline-block;
	vertical-align: top;
	margin-right: 70px;
}

.slider-item-parameters th:last-child,
.slider-item-parameters td:last-child {
	margin: 0;
}

.slider-controls {
	position: absolute;
	bottom: 150px;
	right: 80px;
}

.slider-control {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 20px;
	vertical-align: center;
	border: 1px solid #050505;
	border-radius: 50%;
	font-size: 0;
}

.slider-control::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	content: none;
	border: 1px solid #050505;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

#slider-item-01:checked + .slider-control[for="slider-item-01"]::before,
#slider-item-02:checked + .slider-control[for="slider-item-02"]::before,
#slider-item-03:checked + .slider-control[for="slider-item-03"]::before {
	content: "";
}

.category-items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.category-item figure {
	margin: 0;
	padding: 0;
}

.services,
.brands,
.info-wrapper {
	margin-bottom: 90px;
}

.info-wrapper {
	margin-bottom: 80px;
}

.service-wrapper {
	display: flex;
}

.service-controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.service-controls label {
	margin: 0;
	margin-bottom: 20px;
}

.service-item {
	display: flex;
	justify-content: space-around;
}

.service-image {
	margin-top: 10px;
}

.service-control {
	position: relative;
	display: inline-block;
	width: 160px;
	vertical-align: middle;
	text-align: center;
	z-index: 1;
}

.service-control:before {
	position: absolute;
	display: block;
	top: 8px;
	left: 0;
	width: 100%;
	height: 8px;
	content: "";
	background-color: #f0c52e;
	z-index: -1;
}

.service-control-wrapper,
.service-control-wrapper-active,
.service-control-wrapper:active {
	width: 100%;
	margin-bottom: 20px;
	padding: 6px 0 6px 0;
}

.service-control-wrapper:hover .service-control:before {
	top: 0;
	height: 100%;
}

.service-item {
	width: 875px;
	padding-top: 75px;
}

.service-item-wrapper {
	width: 425px;
	margin-left: 50px;
}

.service-title {
	margin: 0 0 30px 0;
}

.brand-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.info-wrapper {
	display: flex;
	justify-content: space-between;
}

.aboutus,
.contacts {
	position: relative;
	width: 560px;
}

.aboutus:before,
.contacts:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 8px;
	width: 80px;
	background-color: #000000;
}

.aboutus h2,
.contacts h2 {
	margin: 0;
	padding: 50px 0 40px 0;
}

.aboutus p,
.contacts p {
	width: 500px;
	margin: 0;
	padding: 0 0 30px 0;
}

.transport-list {
	margin: 0;
	margin-bottom: 54px;
	padding: 37px 0 0 35px;
}

.contact-map img {
	margin: 10px 0 60px 0;
}

.main-title {
	margin: 0;
	margin-bottom: 20px;
}

.breadcrumbs {
	margin-bottom: 42px;
}

.breadcrumbs-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.breadcrumbs-list li {
	position: relative;
	margin-right: 35px;
}

.breadcrumbs-item a::after {
	position: absolute;
	top: 50%;
	right: -15px;
	width: 4px;
	height: 7px;
	content: "";
	background-image: url("../img/icon-nav-arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	transform: translateY(-50%);
}

.catalog-title-wrapper {
	display: flex;
}

.catalog-content-wrapper {
	display: flex;
	justify-content: space-between;
}

.filter,
.filters {
	min-width: 330px;
}

.filter,
.sorting {
	padding: 22px 0;
}

.filter {
	padding-left: 60px;
}

.sorting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 70px;
}

.filters {
	padding: 70px 0 0 60px;
}

.filter-title,
.sorting-title {
	margin: 0;
	padding: 0;
}

.filter-block {
	max-width: 200px;
	margin-bottom: 35px;
}

.filter-block fieldset {
	margin: 0;
	padding: 0;
}

.filter-item-title {
	padding: 10px 0;
}

.sorting-up,
.sorting-down {
	position: relative;
	font-size: 0;	
}

.sorting-up::before,
.sorting-down::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	content: "";
	background-repeat: no-repeat;
	background-position: 0 0;
}

.sorting-up::before {
	background-image: url("../img/icon-down-dir.svg");
	transform: rotate(180deg);
}

.sorting-down::before {
	background-image: url("../img/icon-down-dir.svg");
}

.filter-parameters {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.filter-parameters label {
	position: relative;
	padding-left: 40px;
}

.filter-parameters input[type="checkbox"] + label::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 23px;
	height: 23px;
	content: "";
	transform: translateY(-50%);
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-parameters input[type="checkbox"]:checked + label::before {
	width: 27px;
	background-image: url("../img/checkbox-on.svg");
}

.filter-parameters input[type="radio"] + label::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 26px;
	height: 26px;
	content: "";
	transform: translateY(-50%);
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
}

.filter-parameters input[type="radio"]:checked + label::before {
	background-image: url("../img/radio-on.svg");
}

.category-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;
}

.category-image-monopod {
	align-self: flex-end;
}

.product-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-left: 70px;
}

.product-box {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.product-box:last-child {
	margin-bottom: 0;
}

.product-image {
	margin-bottom: 30px;
}

.product-new::before {
	position: absolute;
	top: 27px;
	right: 27px;
	padding: 16px 13px;
	content: "new";
	color: #000000;
	text-transform: uppercase;
	border: 2px solid #000000;
	border-radius: 50%;
	opacity: 0.1;
}

.product-desc {
	display: flex;
	justify-content: space-between;
}

.product-desc a {
	max-width: 230px;
}

.products-navigation {
	margin: 0 0 75px 70px;
}

.products-navigation-list {
	display: flex;
	justify-content: center;
	padding: 20px 35px;
}

.products-navigation-list li {
	margin-right: 30px;
}

.products-navigation-list li:first-child {
	margin-right: auto;
}

.products-navigation-list li:last-child {
	margin-left: auto;
	margin-right: 0;
}

.main-footer {
	padding: 60px 0;
}

.main-footer-line:first-child {
	margin-bottom: 30px;
}

.main-footer-line {
	margin-bottom: 45px;
}

.main-footer-line:last-child {
	margin-bottom: 0;
}

.main-footer-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-navigation-footer {
	width: 500px;
}

.user-navigation-footer li:not(:last-child),
.user-navigation-footer li:first-child {
	margin: 0 60px 0 0;
}

.site-navigation-footer {
	justify-content: space-around;
}

.site-navigation-footer li:nth-child(n) {
	margin: 0;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 141px;
	margin: 0;
	padding: 0;
}

.social-button {
}

.social-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 0;
	opacity: 0.3;
}

.social-button:hover {
	opacity: 0.6;
}

.social-button:active {
	opacity: 0.1;
}

.social-facebook {
	background-image: url("../img/social-fb.svg");
}

.social-instagram {
	background-image: url("../img/social-in.svg");
}

.social-twitter {
	background-image: url("../img/social-tw.svg");
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
	transform: translate(-50%, -50%);
	z-index: 3;
}

.modal-map {
	width: 960px;
	height: 560px;
}

.modal-send {
	display: flex;
	flex-direction: column;
	width: 960px;
	height: 550px;
	padding: 100px;
}

.modal-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

.modal-item {
	display: flex;
	flex-direction: column;
}

.modal-item label {
	margin-bottom: 10px;
}

.modal-item input[type="text"],
.modal-item input[type="email"] {
	width: 360px;
}

.modal-item textarea {
	width: 760px;
	height: 150px;
}

.modal-item input[type="text"],
.modal-item input[type="email"],
.modal-item textarea {
	padding: 20px;
}

.modal-close {
	position: absolute;
	top: 22px;
	right: 22px;
	width: 55px;
	height: 55px;
	font-size: 0;
	background-color: transparent;
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	border: none;
	opacity: 0.5;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.3;
}
.hide {
	display: none;
}